<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="admin-ui-conf" version="2.5">
   <display-name>admin-ui-conf</display-name>

   <listener>
      <listener-class>org.exoplatform.container.web.PortalContainerConfigOwner</listener-class>
   </listener>

   <servlet>
      <servlet-name>GateInServlet</servlet-name>
      <servlet-class>org.gatein.wci.api.GateInServlet</servlet-class>
      <load-on-startup>0</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>GateInServlet</servlet-name>
      <url-pattern>/gateinservlet</url-pattern>
   </servlet-mapping>
</web-app>